@import url("../styles/icons.css");
@import url("../styles/loading.css");
@import url("../styles/ripple.css");

:root {
	--accent-color: hsl(207, 17%, 10%);
	--base-hue: 207deg;
	--background-color: hsl(207, 16%, 14%);
	--border-color: hsl(200deg 40% 25% / 50%);
	--text-color: hsl(0 0% 85%);
	color-scheme: dark;
	scrollbar-color: hsl(var(--base-hue) 10% 50% / 50%) transparent;
	scrollbar-width: thin;
}

::placeholder { color: hsl(200deg 10% 50% / 50%) }

html { background-color: var(--background-color) }
body {
	margin: 0.75rem;
	max-height: fit-content;
	overflow-y: auto;
	transition: all .2s;
	width: 200px;
}

body > .view {
	display: inline-block;
	min-width: 200px;
}

body:has(> div.alt.view) {
	display: flex;
	gap: 1.25rem;
}

body:has(> div.alt.view > input:checked) { translate: -100vw; }

/* body:has(> div.alt.view > input:checked) > :not(div.alt.view) {
	display: none !important;
} */

/* div.alt.view {
	animation: slide 0.5s forwards;
	background-color: var(--background-color);
	bottom: 0;
	box-sizing: border-box;
	left: 100%;
	position: fixed;
	top: 0;
	width: 100%;
} */

.view > nav {
	border-bottom: 1px solid var(--border-color);
	display: grid;
	font-family: roboto_medium, Arial, Helvetica, sans-serif;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}

.view > nav:has(> :nth-child(4)) { grid-template-columns: repeat(2, 1fr); }

#state, .danger, .safe {
	color: hsl(0deg 0% 100% / 50%);
	transition: all 200ms;
}

#state:hover { cursor: pointer; }
#state::before { content: "Disabled"; }
#state:hover::before { content: "Click to enable"; }
#state, .danger { background-color: rgb(218, 34, 34, .2) !important; }
#state.enabled, .safe { background-color: rgb(0, 167, 8, .2) !important; }
#state.enabled::before { content: "Enabled"; }
#state.enabled:hover::before { content: "Click to disable"; }
#state.update-available::before { content: "Update"; }
#state.update-available:hover::before { content: "Click to update"; }
#state:hover:active, .danger:hover:active, .safe:hover:active { backdrop-filter: brightness(0.5); }
.danger.hover-border:hover, .danger-border { box-shadow: inset 0px 0px 1px 1px hsl(0 60% 20% / 1); }

a.button, button, details > summary, label {
	-webkit-user-select: none;
	background-color: transparent;
	border: none;
	border-radius: 8px;
	box-sizing: border-box;
	color: hsl(200deg 100% 90% / 50%);
	/* color: hsl(0deg 0% 100% / 75%); */
	display: block;
	overflow: hidden;
	padding: 0.5rem 1rem;
	position: relative;
	text-decoration: none;
	user-select: none;
}

a.tab, button.tab, details.tab > summary, details > summary.tab, label.tab {
	border-radius: 5px;
	/* color: hsl(0deg 0% 100% / 50%); */
	color: hsl(200deg 40% 75% / 50%);
	text-align: center;
	text-transform: capitalize;
	width: -webkit-fill-available;
}

details.tab > summary { list-style: none; }

a:is(.button, .tab):hover, button:hover, label:hover, details.tab > summary:hover, details > summary.tab:hover {
	backdrop-filter: brightness(0.8);
	/* background:rgba(0, 0, 0, .2); */
	cursor: pointer;
}

.notification { padding-right: 2rem; }
.notification::after {
	background-color: crimson;
	border-radius: 0.25rem;
	bottom: 0;
	color: currentColor;
	content: "!";
	font-family: system-ui;
	font-size: 0.75rem;
	font-weight: 800;
	height: 1rem;
	margin: auto;
	max-height: -webkit-fill-available;
	opacity: 0.8;
	padding: 0 0.3rem;
	position: absolute;
	right: 0.4rem;
	top: 0;
}

.details {
	padding: 0.25rem;
	font-size: small;
	font-family: roboto_medium, Arial, Helvetica, sans-serif;
}

.details > input:is([type="checkbox"], [type="radio"]) { display: none }
.details:has(> input:is([type="checkbox"], [type="radio"]):not(:checked)) { display: none !important }

.disabled, :disabled {
	-webkit-user-select: none;
	opacity: .5;
	pointer-events: none;
	user-select: none;
}

label > * { vertical-align: middle; }
label input:is([type="checkbox"], [type="color"], [type="radio"]):first-child {
	margin: 0;
	margin-right: 0.5rem;
	vertical-align: middle;
}

label:hover, button:hover, details.tab > summary:hover, details > summary.tab:hover {
	backdrop-filter: brightness(0.8);
	/* background:rgba(0, 0, 0, .2); */
	cursor: pointer;
}

label input:not(.override-pointer-events):not(input[type="text"]) {
	pointer-events: none;
	touch-action: none;
}

label input:is([type="checkbox"], [type="radio"]) {
	rotate: 90deg;
	scale: 0.85;
	transition: all .2s;
}

label input:is([type="checkbox"], [type="radio"]):checked {
	rotate: none;
	scale: none;
	transition: all .2s;
}

label input[type="color"] {
	border: none;
	border-radius: 2px;
	bottom: 0;
	height: 13px;
	left: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	visibility: hidden;
	width: 13px;
}

label input[type="color"]::-webkit-color-swatch-wrapper { padding: 0 }
label input[type="color"]::-webkit-color-swatch { border: none }

.action-row { display: inline-flex }
.action-row > :is(a, button) {
	display: inline-block;
	line-height: 100%;
	padding: .4em;
	text-align: center;
	vertical-align: middle;
}

.action-row > a {
	color: currentColor;
	text-decoration: none;
}

.scripts > label {
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.scripts > label > .action-row {
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.scripts > label:not(:hover) > .action-row { display: none }
.scripts > label.has-duplicate-name::after {
	content: attr(data-author);
	font-size: .8em;
	/* font-style: italic; */
	margin-left: .35em;
	opacity: .8;
}

/* new line experiment */
.scripts > label.has-duplicate-name::after {
	display: block;
	text-indent: 1.15rem;
}

.scripts#active-scripts:empty { display: none }
.scripts#active-scripts:not(:empty)::before {
	color: var(--text-color);
	content: "Active on this tab";
	display: block;
	margin: 0 auto .5em;
	text-align: center;
	width: fit-content;
}

.scripts#active-scripts:not(:empty)::after {
	border-top: 1px solid var(--border-color);
	content: "";
	display: block;
	height: .4em;
	margin-top: .4em;
}

input:is([type="date"], [type="email"], [type="number"], [type="password"], [type="search"], [type="text"]),
textarea {
	background-color: hsl(206, 23%, 18%);
	color: currentColor;
	border: none;
	border-radius: 0.2rem;
	padding: 0.25rem 0.5rem;
}

input:is([type="date"], [type="email"], [type="number"], [type="password"], [type="search"], [type="text"]).outline,
textarea.outline {
	background-color: transparent;
	border: 2px solid hsl(206, 23%, 18%);
	/* box-shadow: 0 0 0 1px hsl(206, 23%, 18%); */
}

input:is([type="date"], [type="email"], [type="number"], [type="password"], [type="search"], [type="text"]):focus,
textarea:focus {
	background-color: transparent;
	outline: 1px solid hsl(206, 23%, 18%);
}

select {
	background-color: hsl(206, 23%, 18%);
	border: none;
	border-radius: 4px;
	border-right: 0.25rem solid transparent;
	color: currentColor;
	outline: 1px solid rgba(0, 0, 0, .2);
	padding: .25rem;
}

select > * { background-color: inherit; }
select > option:empty { text-transform: capitalize; }

table tr > * { padding: 0.25rem }
table tbody tr td {
	border-radius: 0.36rem;
	text-transform: capitalize;
}

:has(#active-scripts:empty):has(.disabled-scripts > .scripts:empty) .scripts:not(#active-scripts):empty::before {
	color: currentColor;
	content: "No scripts to display";
	opacity: .8;
}

:has(#active-scripts:empty):has(.disabled-scripts > .scripts:empty) .scripts:not(#active-scripts):empty { padding: .5em }
.disabled-scripts:has(> .scripts:empty) { display: none }

#create {
	/* text-align: left; */
	width: 100%;
}